.canvas {
  border: 1px solid #000; // Граница холста
  margin-bottom: 10px; // Отступ снизу для пространства между холстом и кнопками
}

.container {
  display: flex; // flexbox для размещения дочерних элементов
  flex-direction: column; // элементы по вертикали
  align-items: center; // элементы по горизонтали
  justify-content: center; // элементы по вертикали
  height: 100%; // высота контейнера равна высоте экрана
  width: 100%; // ширина контейнера равна ширине экрана
  background-color: #f0f0f0; // цвет фона контейнера для контраста (опционально)
}